In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
purchase_data = os.path.join('purchase_data.json')
purchase_data2 = os.path.join('purchase_data2.json')

In [3]:
t1 = pd.read_json('purchase_data.json')
t2 = pd.read_json('purchase_data2.json')

In [4]:
pymoli_df = pd.concat([t1,t2])

In [5]:
pymoli_df.sort_values(by=['SN'])

,Age,Gender,Item ID,Item Name,Price,SN
144,20,Male,44,Bonecarvin Battle Axe,2.46,Adairialis76
308,37,Male,79,"Alpha, Oath of Zeal",2.88,Aduephos78
377,37,Male,174,Primitive Blade,2.46,Aduephos78
431,37,Male,92,Final Critic,1.36,Aduephos78
224,26,Male,106,Crying Steel Sickle,2.29,Aeduera68
647,26,Male,156,Soul-Forged Steel Shortsword,1.16,Aeduera68
721,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68
394,25,Male,44,Bonecarvin Battle Axe,2.46,Aela49
4,23,Male,63,Stormfury Mace,1.27,Aela59
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
529,38,Male,172,Blade of the Grave,1.69,Aelalis34
315,24,Male,54,Eternal Cleaver,3.14,Aelin32
359,20,Male,32,Orenmir,4.95,Aeliriam77
637,20,Male,18,"Torchlight, Bond of Storms",1.77,Aeliriam77
341,20,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Aeliriarin93
333,22,Male,30,Stormcaller,4.15,Aeliru63
317,22,Male,173,Stormfury Longsword,4.83,Aeliru63
503,25,Male,125,Whistling Mithril Warblade,4.32,Aellyria80
220,33,Male,152,Darkheart,3.15,Aellyrialis39
676,25,Male,107,"Splitter, Foe Of Subtlety",3.61,Aellysup38
233,25,Male,129,"Fate, Vengeance of Eternal Justice",1.55,Aelollo59
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
770,22,Male,141,Persuasion,3.27,Aenasu69
41,19,Female,124,Venom Claymore,2.72,Aeral43
705,25,Male,115,Spectral Diamond Doomblade,4.25,Aeral85
361,14,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeral97
57,23,Female,107,"Splitter, Foe Of Subtlety",4.15,Aeri79
251,19,Female,115,Spectral Diamond Doomblade,4.25,Aeri84
62,19,Female,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeri84
351,25,Male,179,"Wolf, Promise of the Moonwalker",1.88,Aerillorin70
...,...,...,...,...,...,...
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
478,40,Male,168,"Sun Strike, Jaws of Twisted Visions",2.64,Yaralnura48
281,40,Male,47,"Alpha, Reach of Ending Hope",1.55,Yaralnura48
34,22,Male,47,"Alpha, Reach of Ending Hope",1.55,Yararmol43
274,20,Male,79,"Alpha, Oath of Zeal",2.88,Yarirarn35
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64
14,8,Male,44,Bonecarvin Battle Axe,4.36,Yarith71
236,22,Male,154,Feral Katana,2.19,Yarithllodeu72
382,25,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Yarithphos28
65,23,Male,181,Reaper's Toll,4.12,Yarithrgue83
720,7,Male,82,Nirvana,1.11,Yarithsurgue62
291,7,Male,53,Vengeance Cleaver,3.70,Yarithsurgue62
212,40,Male,111,Misery's End,2.91,Yarmol79
56,17,Male,79,"Alpha, Oath of Zeal",1.31,Yarmol79
297,24,Male,84,Arcane Gem,2.23,Yarolwen77
686,24,Male,46,Hopeless Ebon Dualblade,4.75,Yarolwen77
515,40,Male,11,Brimstone,2.52,Yasriphos60
527,40,Male,55,Vindictive Glass Edge,4.26,Yasriphos60
545,40,Male,171,Scalpel,3.62,Yasriphos60
266,39,Female,143,Frenzied Scimitar,2.60,Yasrisu92
119,19,Male,180,Stormcaller,2.78,Yasur35
115,23,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Yasur85
96,22,Female,54,Eternal Cleaver,3.14,Yasurra52
241,32,Male,135,Warped Diamond Crusader,4.66,Yathecal72
363,32,Male,16,Restored Bauble,3.11,Yathecal72
580,23,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",2.41,Yathecal82
437,17,Male,82,Nirvana,1.11,Zhisrisu83
16,24,Male,174,Primitive Blade,1.36,Zhisrisu83
376,17,Male,33,Curved Axe,1.35,Zhisrisu83
192,20,Male,91,Celeste,3.71,Zontibe81

In [6]:
total_players = pymoli_df['SN'].nunique() 
total_players

612

In [7]:
table1 = pymoli_df.agg({'Item ID': ['nunique','count']}).rename({'nunique': 'Unique Items', 'count': 'Total Transactions'})
table1

                    Item ID
Unique Items            184
Total Transactions      858

In [8]:
table2 = pymoli_df.agg({'Price': ['mean', 'sum']}).rename({'mean': 'Average_Price', 'sum': 'Total_Revenue'})
table2 = table2.apply(lambda x: round (x,2)) 
table2

                 Price
Average_Price     2.93
Total_Revenue  2514.43

In [9]:
gender_demo = pymoli_df.drop_duplicates(['SN']).groupby(['Gender']).agg({'Gender': 'count'})
del gender_demo.index.name
gender_demo = gender_demo.rename(columns= {'Gender': 'Gender_Count'}) 
gender_demo['Gender_Percentage']= gender_demo['Gender_Count']/np.sum(gender_demo['Gender_Count'])*100 
gender_demo = gender_demo.apply(lambda x: round(x,2)) 
gender_demo

                       Gender_Count  Gender_Percentage
Female                          108              17.65
Male                            495              80.88
Other / Non-Disclosed             9               1.47

In [10]:
table3 = pymoli_df.groupby(['Gender']).agg({'Price': ['count', 'mean', 'sum']}).rename(columns={'count': 'Purchase_Count', 'mean': 'Average_Purchase', 'sum': 'Total_Purchases'})
table3.columns = table3.columns.droplevel()  
table3['Normalized_Totals'] = table3['Total_Purchases']/np.sum(table3['Total_Purchases'])*100
table3 = round(table3, 2)
table3

,Purchase_Count,Average_Purchase,Total_Purchases,Normalized_Totals
Gender,,,,
Female,149,2.85,424.29,16.87
Male,697,2.94,2052.28,81.62
Other / Non-Disclosed,12,3.15,37.86,1.51

In [11]:
bins = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [12]:
pymoli_df["Age_Demographics"] = pd.cut(pymoli_df["Age"], bins)
age_demo_table = pymoli_df.groupby(["Age_Demographics"]).agg({'Price': ['count', 'mean', 'sum']}).rename(columns={'count': 'Purchase_Count', 'mean': 'Average_Purchases', 'sum': 'Total_Purchases'})
age_demo_table.columns = age_demo_table.columns.droplevel(0) 
age_demo_table['Normalized_Totals'] = age_demo_table['Total_Purchases']/np.sum(age_demo_table['Total_Purchases'])*100
age_demo_table = round(age_demo_table, 2)
age_demo_table

,Purchase_Count,Average_Purchases,Total_Purchases,Normalized_Totals
Age_Demographics,,,,
"(4, 8]",26,2.72,70.63,2.81
"(8, 12]",28,3.38,94.74,3.77
"(12, 16]",91,2.75,250.38,9.96
"(16, 20]",178,2.89,514.48,20.46
"(20, 24]",264,2.94,777.45,30.92
"(24, 28]",113,2.97,335.48,13.34
"(28, 32]",70,3.00,210.06,8.35
"(32, 36]",45,2.97,133.76,5.32
"(36, 40]",40,2.97,118.81,4.73
"(40, 44]",2,2.96,5.92,0.24
"(44, 48]",1,2.72,2.72,0.11

In [22]:
top_spenders = pymoli_df.groupby(["SN"]).agg({'Price': ['count', 'mean', 'sum']}).rename(columns={'count': 'Purchase_Count', 'mean': 'Average_Purchases', 'sum': 'Total_Purchases'})
top_spenders.columns = top_spenders.columns.droplevel(0)
top_5_spenders = top_spenders.nlargest(5, 'Total_Purchases')
top_5_spenders.index.name= "Top_5_Spenders"
top_5_spenders

                Purchase_Count  Average_Purchases  Total_Purchases
Top_5_Spenders
Undirrala66                  5              3.412            17.06
Aerithllora36                4              3.775            15.10
Saedue76                     4              3.390            13.56
Sondim43                     4              3.255            13.02
Mindimnya67                  4              3.185            12.74

In [39]:
most_popular_items = pymoli_df.groupby(["Item ID", "Item Name"]).agg({'Price': ['mean', 'count', 'sum']}).rename(columns={'mean': 'Average_Purchase_Price', 'count': 'Purchase_Count', 'sum': 'Total_Purchase_Value'})
most_popular_items.columns = most_popular_items.columns.droplevel(0)
most_popular_items = most_popular_items.nlargest(5, 'Purchase_Count')
most_popular_items

,,Average_Purchase_Price,Purchase_Count,Total_Purchase_Value
Item ID,Item Name,,,
84,Arcane Gem,2.445,12,29.34
39,"Betrayal, Whisper of Grieving Widows",2.350,11,25.85
31,Trickster,2.322,10,23.22
13,Serenity,1.490,9,13.41
34,Retribution Axe,4.140,9,37.26

In [40]:
most_profitable_items = pymoli_df.groupby(["Item ID", "Item Name"]).agg({'Price': ['mean', 'count', 'sum']}).rename(columns={'mean': 'Average_Purchase_Price', 'count': 'Purchase_Count', 'sum': 'Total_Purchase_Value'})
most_profitable_items.columns = most_profitable_items.columns.droplevel(0)
most_profitable_items = most_profitable_items.nlargest(5, 'Total_Purchase_Value')
most_profitable_items

,,Average_Purchase_Price,Purchase_Count,Total_Purchase_Value
Item ID,Item Name,,,
34,Retribution Axe,4.140,9,37.26
107,"Splitter, Foe Of Subtlety",3.670,9,33.03
115,Spectral Diamond Doomblade,4.250,7,29.75
32,Orenmir,4.950,6,29.70
84,Arcane Gem,2.445,12,29.34